/*--------------Lemonade Grid-System-------------------*/
/*re-named classes for better readability*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both;
    /*overflow: auto*/ }

[class*='grid-'] {
  float: left;
  padding: 0.7em;
  /*overflow: auto;*/
}

.grid-1 {
  width: 100%; }

.grid-2 {
  width: 50%; }

.grid-3 {
  width: 33.33333%; }

.grid-4 {
  width: 25%; }

.grid-5 {
  width: 20%; }

.grid-6 {
  width: 16.66667%; }

.grid-7 {
  width: 14.28571%; }

.grid-8 {
  width: 12.5%; }

.grid-9 {
  width: 11.11111%; }

.grid-10 {
  width: 10%; }

.grid-11 {
  width: 9.09091%; }

.grid-12 {
  width: 8.33333%; }

.grid-25 {
  width: 25%; }

.grid-40 {
  width: 40%; }

.grid-60 {
  width: 60%; }

.grid-75 {
  width: 75%; }

@media (max-width: 30em) {
  .grid-1 {
    width: 100%; }
  .grid-2 {
    width: 100%; }
  .grid-3 {
    width: 100%; }
  .grid-4 {
    width: 100%; }
  .grid-5 {
    width: 100%; }
  .grid-6 {
    width: 100%; }
  .grid-7 {
    width: 100%; }
  .grid-8 {
    width: 100%; }
  .grid-9 {
    width: 100%; }
  .grid-10 {
    width: 100%; }
  .grid-11 {
    width: 100%; }
  .grid-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .grid-4, .grid-6, .grid-8, .grid-10, .grid-12 {
    width: 50%; }
  .grid-1, .grid-2, .grid-3, .grid-5, .grid-7, .grid-9, .grid-11 {
    width: 100%; } }

@media (min-width: 5em) and (max-width: 30em) {
    [class*='grid-'] {
      padding: .1em 0 .1em 0;
    }
}

/*--------------App Layout-------------------*/
main {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}


